canvas { border: 1px solid #ccc }

#blackColorSelect { 
	float:  left; 
	width:  50px;
	height: 50px;
}
#whiteColorSelect { 
	float:  left; 
	width:  50px;
	height: 50px;
}
#yellowColorSelect {
	float:  left; 
	width:  50px;
	height: 50px;
}
#orangeColorSelect {
	float:  left; 
	width:  50px;
	height: 50px;
}


