/* CSS for all pages at the top, more individual near the bottom */
label {
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
}

div {
	overflow-x: hidden;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
}

textarea {
	resize: none;
}

header {
	background-color: black;
	position: relative;
	text-align:       left;
	top:              0px;
	width:            100%;
	margin-top:       0;
	margin-right:     0;
	margin-left:      0;
	padding:          5px;
	height:           75px;
	margin-top:       0px;
	margin-bottom:    30px;
	font-size:        100%;
	display:          block;
	color:            white;
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	white-space: nowrap;
 	overflow: hidden;
}

header > h1 {
	margin-left: 5px;
}



header > a {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	margin-bottom: -80px;  /* Hackey, please fix later */
	opacity: 0.0;
	filter: alpha(opacity=0); /* For IE8 and earlier */
	z-index: 1;
}

button {
	border-style: none;
}

body,html {
	margin: 0;
	padding: 0;
}

.loadingPage {
	background-color: white;
	position:         relative;
	text-align:       center;
	margin:           auto;
	width:            112px;
	height:           150px;
	overflow:         visible;
}

.loadingPage > img {
	margin: auto;
	width: 100%;
	height: 70%;
}


.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #8c8c8c;
  padding: 10px 20px 10px 20px;
  margin:  10px;
  border-style: none;
  text-decoration: none;
}

.btn:hover {
  background: #5c5c5c;
  text-decoration: none;
}

.sqr-btn{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #8c8c8c;
  padding: 10px 20px 10px 20px;
  border-style: none;
  text-decoration: none;
  width: 75%;
  height: auto;
}

.sqr-btn:hover {
  background: #5c5c5c;
  text-decoration: none;
}

.remove {
	background: yellow;
}

.vertFlexBoxAppWindow {
	display:         -webkit-flex;
	display:         flex;
	flex-direction:  column;
	justify-content: flex-start;
	align-items:     center;

	margin-left:     auto;
	margin-right:    auto;
	margin-bottom:   5px;
	width:			 40%;
	height:			 auto;
	flex-wrap:       nowrap;

	padding:         10px;
	border-style:    solid;
	border-radius:   2%;
	border-color:    #C7E2E2;
	border-width:    1px;
	box-shadow:      5px 5px 5px #888888;
}

.vertFlexBoxAppWindow > h1 {
	font-size: 200%;
}

.flexBoxContainer {
	display:         -webkit-flex;
	display:         flex;
	justify-content: center;
	align-items:     stretch;
	flex-direction:  row;
	flex-wrap:       nowrap;

	margin-left:     auto;
	margin-right:    auto;
	height:          auto;
	width:           100%;
}

.vertFlexBoxContainer {
	display:         -webkit-flex;
	display:         flex;
	flex-direction:  column;
	justify-content: flex-start;
	align-items:     center;

	padding: 0px;
	margin-left:     auto;
	margin-right:    auto;
	margin-top:      5px;
	margin-bottom:   5px;
	width:			 100%;
	height:			 auto;
	flex-wrap:       nowrap;
}

#landingPage > button {
	margin: 10px
}

/* Search Page CSS */
#searchPage > p {
	font-style: italic;
}

#thumbImage {
	margin-left:  auto;
	margin-right: auto;
	width: 600px;
	height: 400px;
	border-color: black;
	border-style: solid;
}

#thumbImage > img {
	margin-left:  auto;
	margin-right: auto;
}


#searchContainer {
	position: absolute;
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.search-bar {
	position: relative;
	height: auto;
	width: 500px;
	/*transform: translate(-50%,0%);*/ /* For IE */
}

#searchContainer > label {
	font-size: 200%;
}

#resultContainer {
	position: relative;
	margin: auto;
	height: auto;
	width: 100%;
}


.loading-container {
	background-color: white;
	position: 	relative;
	text-align: center;
	margin: 	20px;
	width: 		100%;
	height: 	150px;
}

.loading-container > img {
	margin: auto;
	width: 75px;
	height: 75px;
}

.file-search-button {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	display:         block;
	position:        relative;
	border-radius:   0px;
	font-family:     Georgia;
	color:           #ffffff;
	font-size:       150%;
	background:      #a3a3a3;
	width:           60%;
	margin-left:     auto;
	margin-right:    auto;
	padding-left:    5px;
	padding-right:   5px;
	border-style:    none;
	height:          auto;
	text-decoration: none;
}

.file-search-button:hover {
	background:      #4a4a4a;
	text-decoration: none;
}

.file-search-button > h4 {
	font-size: 100%;
	font-weight: normal;
}



/* CSS for Upload Page */
.UI-container {
	/* flexbox params */
	display:         -webkit-flex;
	display:         flex;
	flex-direction:  column;
	justify-content: flex-start;
	align-items:     stretch;
	flex-wrap:       nowrap;
	/* sizing params */
	margin-left:     auto;
	margin-right:    auto;
	margin-bottom:   5px;
	width:			 40%;
	height:			 100%;
	overflow: auto;
	/* border params */
	padding:         20px;
	border-style:    solid;
	border-radius:   2%;
	border-color:    #C7E2E2;
	border-width:    1px;
	box-shadow:      5px 5px 5px #888888;
	overflow:        hidden;
}

.extra-wide {       /* Used to override the width property (just UI for now) */
	width:           70%;
}

.fixed-height-long {
	height:         800px;
}

/* For testing view, show all borders of nested containers */
/*.UI-container div {    
	border-color: black;
	border-style: solid;
	border-width: 1px;
	width:        100%;
	height:       100%;

	position: relative;
}*/

.UI-title {
	text-align: center;
}

.text-input {
	width:          99%;
	height:         20%;
	padding-top:    10px;
	padding-bottom: 10px;
	margin-top:     18px;
	font-size:      120%;
}

input[type=text].text-input {
	border-radius:   5px;
	text-decoration: none;
	border-style:    solid;
	border-width:    1px;
	border-color:    gray;
}

.element-flexbox {
	/* flexbox params */
	display:         -webkit-flex;
	display:         flex;
	justify-content: center;
	align-items:     stretch;
	flex-wrap:       nowrap;

	position:        relative;
}

.vert-element-flexbox {
	/* fle	xbox params */
	display:         -webkit-flex;
	display:         flex;
	width:           100%;
	flex-direction:  column;
	justify-content: flex-start;
	align-items:     stretch;
	flex-wrap:       wrap; /* Wrap if need to */

	position:        relative;
}

.flex-item {
	width:    100%;
	height:   100%;
	flex:     1;
	position: relative;
	margin:   5px;
	text-align: center;
}

textarea.flex-item {
	text-align: left;
}

.prompt-container {
	display: block;
	width:    100%;
	height:   100%;
	position: relative;
	text-align: center;
	margin:   0;
	padding: 0;
}

.prompt-container > h3 { /* Needed to remove > because it's embedded */
	font-size: 100%;
	margin: 0;
}

.prompt-container > p {  /* Needed to remove > because it's embedded */
	font-size: 1em;
	font-weight: normal;
}

.disp-filelist > textarea {
	width:90%;
	height: 85%;
}


.element-table {
	display: table;
	table-layout: fixed;
	width: 100%;
	-webkit-column-width: 50%; /* Chrome, Safari, Opera */
    -moz-column-width:    50%; /* Firefox */
    column-width:         50%;
    padding: 0;
    margin: 0;
    font
}

.element-table .btn {
	width: 80%;
	height: auto;
}

.disp-filename {
	text-align: center;
}

.disp-filename > input[type=text] {
	width: 80%;
	height: 100%;
}

.disp-thumb.flex-item {
	width:          100%;
	height:         200px;
	border-style:   solid;
	border-color:   black;
	border-width:   1px;
	text-align:     center;
}

.disp-thumb.file-image {
	width:          100%;
	height:         100%	
	vertical-align: middle;
}

.disp-description > textarea {
	display: block;
	width: 97%;
	height: 100%;
}

.submit-form-btn > input[type=submit] {
  font-family:     Arial;
  color:           #ffffff;
  font-size:       20px;
  background:      #8c8c8c;
  width:           100%;
  text-decoration: none;
  border-style:    none;
  padding:         5px;
  margin:          5px;
}

.submit-form-btn > input[type=submit]:hover {
	color: #5c5c5c;
	text-decoration: none;
}

.cancel-button {
	float: right;
}


/*.file-chooser {
	text-align: center;
	width: 100%;
	height: 30px;
	background-color: red;
}*/
.file-chooser { 
	position: relative;
	width: 100%; 
	height: 30px; 
	overflow: hidden; 
	background-color: #8c8c8c;
	text-align: center;
	z-index: 0;
} 

.file-chooser:hover {
  background: #5c5c5c;
  text-decoration: none;
}

.file-chooser > input {
	position: absolute; 
	width: 100%;
	height: 100%;
	right: 0;
	opacity: 0;
	margin: 0;
	padding: 0;
	border: none;
	z-index: 2;
}

.file-chooser > h3 {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	margin-top: 3px;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	color: white;
	vertical-align: center;
}

.wide-btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #8c8c8c;
  padding: 0;
  margin: auto;
  border-style: none;
  text-decoration: none;
}

.wide-btn:hover {
  background: #5c5c5c;
  text-decoration: none;
}

.div-blackout {
	position: fixed;
	opacity: 0.5;
	top: 0;
	left: 0;
	background-color: black;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.hidden {
	display: none;
}


.meter { 
	height: 20px;  /* Can be anything */
	position: relative;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
}

.meter > span {
	display: block;
	height: 100%;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: rgb(204,204,204);
	position: relative;
	overflow: hidden;
	transition: 2s
}

/* Non-default style declarations go here */

.border {
	border: 5px solid black;
}

.vert-scrollable {
	overflow-y: scroll;
}

.fill-width {
	width: 100%;
}

textarea.fill-width {
	width: 98%;    /*Changed to fit textarea borders*/
}

textarea.block-display {
	display: block;
}

.container-fixed-size {
	display: inline-block;
	width: 100%;
	height: 30em;
}

input[type='button'].container-fixed-size {
	font-size: 75%;
}

.half-width {
	width: 50%;
}

.center-align {
	text-align: center;
}

.left-align {
	text-align: left;
}

.right-align {
	text-align: right;
}

.overflow-hidden {
	overflow: hidden;
}

.half-width {
	width: 50%;
}

.inline-block {
	display: inline-block;
}