/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 12, 2015, 3:37:49 PM
    Author     : Dennis Ku
*/
.main {
    background-color: #CFDEE7;
}
.site-name {
  position: fixed; /* or absolute */
  text-align: center;
  top: 30%;
  width: 100%;
  font-size:4em;
}
.vice
{
    color: #92B4F4;
    font-family: "Pacifico";
}
.virtue
{
    color: #5E7CE2;
    font-size: 0.90em;
    font-family: "Roboto Slab";
}
.slash
{
    color: #fff;
}
.line {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
}
.subtitle{ 
    background-color:#fff;
    padding:0 10px;
}
h1 {
  font-family: "Roboto Slab";
  color: #4472CA;
  font-size: 0.3em;
  font-weight: normal;
  position: relative;
  text-align: center;
  padding-top: 0px;
}

h1 span {
  background: #CFDEE7;
  padding: 0 10px;
  position: relative;
  z-index: 1;
}

h1:before {
  background: #cccccc;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 40%;
  width: 100%;
}

h1:before {
  left: 0;
}
.btn {
  background: #99ccff;
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: "Roboto Slab";
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
    background: #ccccff;
  text-decoration: none;
}