body {
	background-color: #CFDEE7;
}

.habit-tracking-container {
	width:      100%;
}


h5 {
	font-family: "Roboto Slab";
	color: #4472CA;
	font-size: 1em;
	font-weight: normal;
	position: relative;
	text-align: left;
	margin: 0;
	width: 50%;
	/*padding-top: 0px;*/
}

.num-icon {
	border-radius:    50%;
	text-align:       center;
	background-color: #92B4F4;
	width:            1em;
	height:           1em;
	margin:           3px;
}

.num-icon-selected {
	background-color: #4472CA;
}

.num-icon-container {
	display:         flex;
	flex-direction:  row;
	justify-content: flex-end;
	align-items:     flex-start;
	width: 50%;
	height: auto;
	flex-grow: 1;
}

.habit-main-icon {
	margin: auto;
	width:  30%;
	height: 30%;
}

.habit-icon {
	margin: auto;
	width:  20%;
	height: 20%;
}

.habit-description-container {
	display:         flex;
	flex-direction:  row;
	flex-wrap:       nowrap;
	justify-content: space-between;
	align-items:     flex-start;
	height:          auto;
	width:           100%;
	margin:          5px;
}

.habit-icon-container {
	position:        relative;
	display:         flex;
	flex-direction:  row;
	flex-wrap:       nowrap;
	justify-content: space-around;
	height:          auto;
	width:           100%;
	margin:          5px;
}

/* Desktops and laptops ----------- */
@media screen and (min-width : 500px) {
	.habit-tracking-container {
		margin: auto;
		width:  500px;
		height: 1000px;
	}

	.habit-icon-container {
		margin: 15px;
	}

	.habit-description-container {
		margin: 15px;
	}
}